---
import { dataDescription } from "../../../data/dataDescription";

const {about} = dataDescription
const {content} = about
---

<section id="Sobre-nosotros">
    <header>
        <h3>Sobre Nosotros</h3>
    </header>
    {
        content?.map((article) => {
            return(
                <article>
                    {article.titleActive && <h4>{article.title}</h4>}
                    <div>
                        {article.description?.map(parrafo => {
                            return(
                                    <p>{parrafo}</p>
                            )
                        })} 
                    </div>
                    <img src={article.image} alt={`imágen sobre ${article.title}`}/>
                </article>
            )
        })
    }
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: center;
        padding-inline: var(--paddingsection-inline);
    }

    h3{
        font-size: var(--subtitlesection);
        padding: var(--paddingsubtilteSection);
        border-bottom: 1px solid black;
    }

    article{
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        padding-block: 10px;

    }
    article h4{
        text-align:start;
        width: 100%;
        font-size: 1.1em
    }

    article p{
        text-wrap: pretty;
    }
    img{
        width: 100%;
    }
</style>