---
import { notices } from "../../../data/notices.js";
import CardNotice from "../cards/CardNotice.astro";

---

<section id="Noticias">
    <header>
        <h3>Noticias</h3>
    </header>
    { 
    notices?.map(notice => {
        return(
            <CardNotice 
            id={notice.id}
            category={notice.category} 
            date={notice.date} 
            images={notice.images} 
            synthesis={notice.synthesis} 
            title={notice.title}  />
        )
    })

    }
</section>

<style>
    section{
        padding-inline: var(--paddingsection-inline);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding-bottom: 20px;
    }

    section > header{
        font-size: var(--subtitlesection);
        padding: var(--paddingsubtilteSection);
        border-bottom: 1px solid black;
    }

    

</style>